{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<span class="section-anchor" id="{{ .anchor }}"></span>
<section id="{{ .section_id }}" class="hero-area">
	<div class="container">
		<div class="row">
			<span class="full-vertical"></span>
			<img class="img-header" src="images/Wenglein-CoachingAndCapital.png"/>
		</div>
	</div>
	<a class="down-arrow" href="#vita"><span></span></a>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}