{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<style>

section.hero-area {
	background-image: linear-gradient(to bottom right, #3d5067, #080b10);
}

img.img-header {
	width: 80%;
}

a.down-arrow {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
a.down-arrow:hover {
  opacity: .5;
}

a.down-arrow {
  padding-top: 60px;
}
a.down-arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

span.full-vertical {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

span.full-vertical img {
    vertical-align: middle;
}

</style>

<section class="hero-area">

	<span class="full-vertical"></span><img class="img-header" src="images/Wenglein-CoachingAndCapital.png"/>
	<a class="down-arrow" href="#vita"><span></span></a>

</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}