{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<span class="section-anchor" id="{{ .anchor }}"></span>
<section id="{{ .section_id }}" class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1><img class="img-header" src='{{ "images/Wenglein.png" | absURL }}'/>{{ .title }}</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			{{"<!-- Contact Details -->" | safeHTML}}
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<p> {{ .content | markdownify }} </p>
				<div class="contact-details">
					{{ range .contact_details }}
					<div class="con-info clearfix">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
					</div>
					{{ end }}
				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<div id="map"></div>		
			</div>
		</div>

		{{"<!-- Google Maps Code -->" | safeHTML}}

		<style>

			#map {
			}

			#byplane, #bycar {
				width: 50px;
				height: 50px;
				padding: 0;
				margin: 0 5px;
				background-color: #4e667f;
				border-radius: 50px;
				text-align: center;
			}

			#byplane i, #bycar i {
				width: 50px;
				height: 50px;
				padding: 0;
				margin: 0;
				color: white;
				font-size: 30px;
				line-height: 48px;
				vertical-align: middle;
			}

			#bycar {

			}

			#bycar i {
				line-height: 40px;
			}

			#byplane i::hover, #bycar i::hover {
				text-decoration: none;
			}

		</style>

		<script>

			function initMap() {

				var styledMapType = new google.maps.StyledMapType(
					[
					    {
					        "featureType": "administrative",
					        "elementType": "labels",
					        "stylers": [
					            {
					                "color": "#FFFFFF"
					            },
					            {
					                "visibility": "simplified"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape.man_made",
					        "elementType": "all",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            },
					            {
					                "color": "#303030"
					            }
					        ]
					    },
					    {
					        "featureType": "landscape.natural",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "color": "#000000"
					            },
					            {
					                "visibility": "simplified"
					            }
					        ]
					    },
					    {
					        "featureType": "poi",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "poi",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            },
					            {
					                "color": "#FFFFFF"
					            }
					        ]
					    },
					    {
					        "featureType": "road",
					        "elementType": "geometry",
					        "stylers": [
					            {
					                "visibility": "simplified"
					            },
					            {
					                "color": "#808080"
					            }
					        ]
					    },
					    {
					        "featureType": "road",
					        "elementType": "labels.text",
					        "stylers": [
					            {
					                "color": "#FFFFFF"
					            },
					            {
					                "visibility": "simplified"
					            }
					        ]
					    },
					    {
					        "featureType": "road",
					        "elementType": "labels.icon",
					        "stylers": [
					            {
					                "visibility": "off"
					            }
					        ]
					    },
					    {
					        "featureType": "water",
					        "elementType": "all",
					        "stylers": [
					            {
					                "color": "#303030"
					            }
					        ]
					    }
					]
					,
					{name: 'Map'});

				var la = parseFloat({{ .map.latitude }});
				var lo = parseFloat({{ .map.longitude }});

				var map = new google.maps.Map(document.getElementById('map'), {
					center: {lat: la, lng: lo},
					zoom: 17,
					streetViewControl: false,
					mapTypeControlOptions: {
				    	mapTypeIds: []
					}
				});

				var image = {
					url: '{{ "images/marker-wenglein-50x50.png" | absURL }}',
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(25, 60)
				};

			    // Add a marker
			    var marker = new google.maps.Marker({
			        map: map,
			        position: new google.maps.LatLng(la, lo),
					icon: image,
				    animation: google.maps.Animation.DROP
				});

				//Associate the styled map with the MapTypeId and set it to display.
				map.mapTypes.set('styled_map', styledMapType);
				map.setMapTypeId('styled_map');

			    var info = new google.maps.InfoWindow({
			        marker: marker,
			        pixelOffset: new google.maps.Size(0, -10),
			        content: '<a id="bycar" type="button" class="btn btn-link" href="https://goo.gl/maps/js7jKyk4pRwRxVkE7" target="_blank"><i class="ti-car"></i></button><a id="byplane" type="button" class="btn btn-link" href="https://goo.gl/maps/UoKiZbc482UGSVGA6" target="_blank"><i class="ti-world"></i></button>'
				    });

			    marker.addListener('click', function() {
			    	info.open(map, marker);
			  	});
			
			}

	    </script>

	    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .map.apikey }}&callback=initMap"></script>

<!--		
		<div class="row">
			{{"<!-- Contact Form -->" | safeHTML}}
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" class="form-meghna" method="post" action="{{ .form_action | safeURL }}" role="form">
					<input name="e-mail" type="text" id="e-mail" autocomplete="off">
					<div class="form-group">
						<input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
					</div>
					<div class="form-group">
						<input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
					</div>
					<div class="form-group">
						<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
					</div>
					<div id="cf-submit">
						<button type="submit" id="contact-submit" class="btn btn-transparent btn-block" value="Submit">{{ i18n "submit" }}</button>
					</div>
				</form>
			</div>
		</div>
-->

	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}
