{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.contact.contact.enable }}
{{ with $data.contact.contact }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<span class="section-anchor" id="{{ .anchor }}"></span>
<section id="{{ .section_id }}" class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1><img class="img-header" src="images/Wenglein.png"/>{{ .title }}</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			{{"<!-- Contact Details -->" | safeHTML}}
			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
				<h3>{{ .subtitle | markdownify }}</h3>
				<p> {{ .content | markdownify }} </p>
				<div class="contact-details">
					{{ range .contact_details }}
					<div class="con-info clearfix">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
					</div>
					{{ end }}
				</div>
			</div>

			{{"<!-- Contact Form -->" | safeHTML}}
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" class="form-meghna" method="post" action="{{ .form_action | safeURL }}" role="form">
					<input name="e-mail" type="text" id="e-mail" autocomplete="off">
					<div class="form-group">
						<input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
					</div>
					<div class="form-group">
						<input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
					</div>
					<div class="form-group">
						<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject">
					</div>
					<div class="form-group">
						<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
					</div>
					<div id="cf-submit">
						<button type="submit" id="contact-submit" class="btn btn-transparent btn-block" value="Submit">{{ i18n "submit" }}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}