{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.home.home.enable }}
{{ with $data.home.home }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<span class="section-anchor" id="{{ .anchor }}"></span>
<section id="{{ .section_id }}" class="hero-area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="container">
				<img class="img-header" src="images/Wenglein-CoachingAndCapital.png"/>
			</div>
		</div>
	</div>
	<nav class="arrow">
		<a class="down-arrow nav-link" href="#why"><span></span></a>
	</span>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}