<section id="navbar" class="sticky-top navigation">
	<div class="container">
		<div class="row justify-content-right">
			<div class="col-lg-12">
				<nav class="navbar navbar-expand-lg navbar-dark">
					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a id="navlink-home" class="nav-link" href='{{ "/" | absLangURL }}#home'>{{ i18n "menu_home" }}</a>
							</li>
							<li class="nav-item">
								<a id="navlink-why" class="nav-link" href='{{ "/" | absLangURL }}#why'>{{ i18n "menu_why" }}</a>
							</li>
							<li class="nav-item">
								<a id="navlink-history" class="nav-link" href='{{ "/" | absLangURL }}#history'>{{ i18n "menu_history" }}</a>
							</li>
							<li class="nav-item">
								<a id="navlink-portfolio" class="nav-link" href='{{ "/" | absLangURL }}#portfolio'>{{ i18n "menu_portfolio" }}</a>
							</li>
							<li class="nav-item">
								<a id="navlink-contact" class="nav-link" href='{{ "/" | absLangURL }}#contact'>{{ i18n "menu_contact" }}</a>
							</li>
							<li class="nav-item">
								<a id="navlink-art" class="nav-link" href='https://blog.wenglein.de' target="_blank">ART</a>
							</li>
							{{ if .IsHome }}
							{{ else }}
							{{ end }}
						</ul>
						<div id="select-language-box">
							<!-- Language List -->
							{{- if .Site.IsMultiLingual }}
							<select id="select-language" onchange="location = this.value;">
								{{ $siteLanguages := .Site.Languages}}
								{{ $pageLang := .Page.Lang}}
								{{ range .Page.AllTranslations }}
								{{ $translation := .}}
								{{ range $siteLanguages }}
								{{ if eq $translation.Lang .Lang }}
								{{ $selected := false }}
								{{ if eq $pageLang .Lang}}
								<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
								</option>
								{{ else }}
								<option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
								{{ end }}
								{{ end }}
								{{ end }}
								{{ end }}
							</select>
							{{ end }}
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</section>