{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.portfolio.portfolio.enable }}
{{ with $data.portfolio.portfolio }}
{{"<!-- Portfolio Section -->" | safeHTML}}
<span class="section-anchor" id="{{ .anchor }}"></span>
<section id="{{ .section_id }}" class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1><img class="img-header" src="images/Wenglein.png"/>{{ .title }}</h1>
				<p>Unser Erfolg ist der Erfolg unserer Portfolio-Unternehmen. Wir wollen immer mit den Gründern im Boot sein. Und wir sind wahnsinnig stolz auf die tollen Teams mit denen wir tagein tagaus daran arbeiten dürfen, die Welt ein bisschen besser zu machen.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
					data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="shuffle-filter" value="all" checked="checked" />{{ i18n "all"}}
					</label>

					{{ $categories := slice }}
					{{ range .portfolio_item }}
						{{ range .categories }}
							{{ $categories = $categories | append . }}
						{{ end }}
					{{ end }}

					{{ range .category_values }}
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . }}
					</label>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="row shuffle-wrapper justify-content-center">
			{{"<!-- portfolio item -->" | safeHTML}}
			{{ range .portfolio_item }}
			<div class="col-lg-4 shuffle-item"
				data-groups="[{{range $index, $element:= .categories }}{{if ne $index 0}},{{end}}&quot;{{. | urlize}}&quot;{{ end }}]">
				<div class="portfolio-block mb-4">
					<div class="service-icon text-center">
						<a target="new" href="{{ .link | safeURL }}">
							<img class="img-fluid" src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
						</a>
					</div>
					<p>{{ .content | markdownify }}</p>
					{{ if .invest }}
					<a class="btn btn-transparent" href="#">Can I Invest ?</a>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Portfolio -->" | safeHTML}}
{{ end }}
{{ end }}